In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
#Country Codes
country_ids_G4 = pd.read_excel('Country Code/T19_G4_Curriculum Questionnaire Data.xlsx', usecols=[0,1],
                                 names=['Country', 'country_ID'], skiprows=[1,2,61], skipfooter=94)

country_ids_G8 = pd.read_excel('Country Code/T19_G8_Curriculum Questionnaire Data.xlsx', usecols=[0,1], 
                             names=['Country', 'country_ID'], skiprows=[1,2,42], skipfooter=113)

In [3]:
# add grade columns to both dataframes
country_ids_G4['grade'] = 'yes'
country_ids_G8['grade'] = 'yes'

In [4]:
# join all country code dataframes
country_ids = pd.merge(country_ids_G4, country_ids_G8, how='outer', 
                         on=['Country', 'country_ID'])

In [5]:
# eliminate parenthesis and replace country names
country_ids['Country'] = country_ids['Country'].replace('[\(].*[\)]', '', regex=True)

In [6]:
to_replace = ['Moscow City, Russian Fed.', 'Russian Federation', 'Chinese Taipei','Hong Kong SAR', 
              'Iran, Islamic Rep. of', 'Korea, Rep. of', 'Ontario, Canada', 'Quebec, Canada', 
              'Abu Dhabi, UAE', 'Dubai, UAE', 'Czech Republic', 'Slovak Republic', 'Belgium ']
replace_with = ['Russia, Moscow', 'Russia', 'Taiwan', 'Hong Kong', 
                'Iran', 'South Korea', 'Canada, Ontario', 'Canada, Quebec', 
                'United Arab Emirates, Abu Dhabi', 'United Arab Emirates, Dubai', 'Czechia', 'Slovakia', 'Belgium']                                                 

country_ids['Country'] = country_ids['Country'].replace(to_replace, replace_with)

In [7]:
# rename grade columns and replace NaNs with 'no'
country_ids = country_ids.rename(columns={'grade_x':'grade_4', 'grade_y':'grade_8'}) \
                         .fillna('no').sort_values('Country')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

country_ids

                            Country  country_ID grade_4 grade_8
0                           Albania           8     yes      no
1                           Armenia          51     yes      no
2                         Australia          36     yes     yes
3                           Austria          40     yes      no
4                        Azerbaijan          31     yes      no
5                           Bahrain          48     yes     yes
6                           Belgium         956     yes      no
7            Bosnia and Herzegovina          70     yes      no
8                          Bulgaria         100     yes      no
9                            Canada         124     yes      no
58                  Canada, Ontario        9132     yes     yes
59                   Canada, Quebec        9133     yes     yes
10                            Chile         152     yes     yes
12                          Croatia         191     yes      no
13                           Cyprus         196     yes     yes
14                          Czechia         203     yes      no
15                          Denmark         208     yes      no
63                            Egypt         818      no     yes
16                          England         926     yes     yes
17                          Finland         246     yes     yes
18                           France         250     yes     yes
19                          Georgia         268     yes     yes
20                          Germany         276     yes      no
21                        Hong Kong         344     yes     yes
22                          Hungary         348     yes     yes
23                             Iran         364     yes     yes
24                          Ireland         372     yes     yes
64                           Israel         376      no     yes
25                            Italy         380     yes     yes
26                            Japan         392     yes     yes
65                           Jordan         400      no     yes
27                       Kazakhstan         398     yes     yes
29                           Kosovo         411     yes      no
30                           Kuwait         414     yes     yes
31                           Latvia         428     yes      no
66                          Lebanon         422      no     yes
32                        Lithuania         440     yes     yes
67                         Malaysia         458      no     yes
33                            Malta         470     yes      no
34                       Montenegro         499     yes      no
35                          Morocco         504     yes     yes
36                      Netherlands         528     yes      no
37                      New Zealand         554     yes     yes
38                  North Macedonia         807     yes      no
39                 Northern Ireland         928     yes      no
40                           Norway         578     yes     yes
41                             Oman         512     yes     yes
42                         Pakistan         586     yes      no
43                      Philippines         608     yes      no
44                           Poland         616     yes      no
45                         Portugal         620     yes     yes
46                            Qatar         634     yes     yes
68                          Romania         642      no     yes
47                           Russia         643     yes     yes
60                   Russia, Moscow      643001     yes     yes
48                     Saudi Arabia         682     yes     yes
49                           Serbia         891     yes      no
50                        Singapore         702     yes     yes
51                         Slovakia         703     yes      no
52                     South Africa         710     yes     yes
28                      South Korea         410     yes     yes
53                            Spain         724     yes      no
54                           Sweden         752     yes     yes
11                           Taiwan         158     yes     yes
55                           Turkey         792     yes     yes
56             United Arab Emirates         784     yes     yes
61  United Arab Emirates, Abu Dhabi        7842     yes     yes
62      United Arab Emirates, Dubai        7841     yes     yes
57                    United States         840     yes     yes

In [9]:
country_ids.to_csv('country_ids.csv', index=True)